<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue.js HelloWorld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <header>
            <div class="header-social bg-primary-variant">
                <a target="_blank" href="https://github.com/brantac"><i class="fab fa-github"></i></a>
                <a target="_blank" href="https://facebook.com/arthurclbr"><i class="fab fa-facebook"></i></a>
                <a target="_blank" href="https://linkedin.com/in/arthurclbr"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="logo text-center">
                <span>Todo App</span>
            </div>
        </header>

        <transition name="fadeForm">
            <form action="" class="todo-form"
            v-show="show">
                <input type="text"
                id="todoInput"
                name="todoInput"
                v-model="todoInput"
                placeholder="Ex: Estudar Vue.js" />
    
                <label for="priority">Priority</label>
                <select name="priority"
                id="priority"
                v-model='priorityInput'>
                    <option value="low">low</option>
                    <option value="medium">medium</option>
                    <option value="high">high</option>
                </select>
                <button
                    type="button"
                    @click="insertTodo">Insert
                </button>
            </form>
        </transition>

        <div class="todo-list">
            <h2>{{ todos }} todos added</h2>
            <a v-on:click.prevent="todosList.sort(sortByPriority)" href="#">
                <i class="material-icons">
                    priority_high
                </i>
            </a>
            <transition-group
                name="slideFadeList"
                appear
                tag="ol">
                <todo-item
                    class="bg-primary-variant"
                    v-for="(item,index) in todosList"
                    v-bind:class="convertPriorityToString(item.priority)"
                    v-bind:data-item="item.id.toString()"
                    v-bind:todo="item"
                    v-bind:key="item.id"
                    v-on:remove="todosList.splice(index,1); todos--; storeRemovedKey(item.id)">
                </todo-item>
            </transition-group>
        </div>

        <i v-on:click="show = !show; isActive = !isActive"
            v-bind:class="{active: isActive}"
            class="material-icons button bg-secondary btn-transform"
            style="font-size:48px;">
            add
        </i>
        <!-- <a href="#"
            class="button">
        </a> -->
    </div>
    <script>
    /**
     * Todo component
     */
    Vue.component('todo-item',{
        props: ['todo', 'remove'],
        methods: {
        },
        template: '\
        <li>\
        <p>{{ todo.text }}</p>\
        <a v-on:click.prevent="$emit(\'remove\')" href="#"><i class="material-icons">delete</i></a>\
        </li>'
    });
    /**
     * Root Vue
     */
    var app = new Vue({
        el: "#app",
        data: {
            todoInput: '',
            priorityInput: 'medium',
            todosList: [
                {id: 1, text: "Estudar Vue.js", priority: 1},
                {id: 2, text: "Estudar TypeScript", priority: 1},
                {id: 3, text: "Estudar Kubernets", priority: 0},
            ],
            todos: 3,
            key: {
                next: 4,
                removed: []
            },
            show: false,
            // this property is used to toggle the
            // 'active' class. With this, I can
            // animate any element
            // depending on its presence
            isActive: false
        },
        methods: {
            insertTodo: function () {
                this.todosList.push({
                    id: this.getAvailableKey(),
                    text: this.todoInput,
                    priority: this.convertPriorityToNumber(this.priorityInput)
                });
                this.todoInput = '';
                this.todos++;
            },
            // return the next key that will be used.
            // if a removed key is available, return it instead
            // of a new one.
            getAvailableKey: function () {
                return this.key.removed.length ? this.key.removed.pop() : this.key.next++;
            },
            // store a removed key
            storeRemovedKey: function (removedKey = null) {
                this.key.removed.push(removedKey);
            },
            // get the priority number and returns
            // a string
            convertPriorityToString: function (p) {
                switch (p) {
                    case 1:
                        return 'high';
                        break;
                    case 0:
                        return 'medium';
                        break;
                    case -1:
                        return 'low';
                        break;
                }
            },
            convertPriorityToNumber: function (p) {
                return p == 'high' ? 1 : p == 'medium' ? 0 : -1;
            },
            sortByPriority: function (a,b) {
                return a.priority < b.priority;
            }
        }
    });
    </script>
    <!-- <script src="index.js"></script> -->
</body>
</html>