@import './css/vars.css';
@import './css/todos.css';
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 16px;
}
body, html {
    height: 100%;
}
#app {
    min-height: 100%;
    background: var(--primary-blue);
    user-select: none;
}
.text-center {
    text-align: center;
}
/* Header */
.header-social {
    min-height: 16px;
}
.logo {
    font-size: 48px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Vue transition classes */
.fadeForm-enter-active, .fadeForm-leave-active {
    transition: visibility .2s ease-in-out, opacity .2s linear;
}
.fadeForm-enter, .fadeForm-leave-to {
    visibility: hidden;
    opacity: 0;
}
@media screen and (min-width: 425px) {
    form, .todo-list ol {
        padding-right: 0;
        padding-left: 0;
    }
    form, .todo-list {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}