@import './css/vars.css';
@import './css/todos.css';
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 16px;
}
body, html {
    height: 100%;
}
#app {
    min-height: 100%;
    background: var(--primary-blue);
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.text-center {
    text-align: center;
}
/* Header */
.header-social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 16px;
}
.header-social i {
    color: white;
    font-size: 21px;
    /* margin-left: 32px; */
}
.logo {
    font-size: 48px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* VUE TRANSITION CLASSES */
/* Form fade */
.fadeForm-enter-active, .fadeForm-leave-active {
    transition: visibility .2s ease-in-out, opacity .2s linear;
}
.fadeForm-enter, .fadeForm-leave-to {
    visibility: hidden;
    opacity: 0;
}
/* Todo list slide */
.slideFadeList-enter-active {
    transition: all .3s ease .1s;
}
.slideFadeList-enter {
    transform: translateX(-100%);
    opacity: 0;
}
.slideFadeList-enter-to {
    transform: translateX(0%);
    opacity: 1;
}
.slideFadeList-leave-active {
    /* transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
    transition: all .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.slideFadeList-leave-to {
    transform: translateX(100%);
    opacity: 0;
}
@media screen and (min-width: 425px) {
    form, .todo-list ol {
        padding-right: 0;
        padding-left: 0;
    }
    form, .todo-list {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}